* {
box-sizing: border-box;
}

body {
    background-color: #565656;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 675px;
}

.rectangletop {
    height: 225px;
    width: 675px;
}

.rectanglebottom {
    Background-color: #ffffff;
    Color: #16314c;
    Font-size: 25px;
    height: 50px;
    margin: 12.5px;
    padding-top: 12.5px;
    text-align: center;
    width: 650px;
}

.square {
    Background-color: #dae0ea;
    Border: 3px solid #aaafb7;
    Color: #434547;
    float: left;
    Font-size: 70px;
    height: 200px;
    margin: 12.5px;
    width: 200px;
}

.squaretable {
    display: table-cell; /* komórka tabeli */
    height: 194px;
    text-align: center;
    vertical-align: middle;
    width: 194px;
}

.squareactive {
    Background-color: #3072b5;
    Border: 3px solid #044689;
    Color: #dae0ea;
    Font-size: 70px;
}
