* {
    box-sizing: border-box;
}

body {
    background-color: #2a2a2a;
    color: white;
    font-size: 30px;
}

.container {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}

.box {
    color: white;
    float: left;
    font-size: 60px;
    height: 200px;
    text-align: center;
    padding: 30px;
}

.rectangle {
    text-align: center;
    height: 220px;
}
