* {
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: white;
    font-size: 30px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.conteiner {
    min-height: 600px;
    width: 100%;
}

.textbox {
    height: 110px;
    padding-left: 400px;
    padding-top: 40px;
    width: auto;
}

.square {
    float: left;
    min-height: 400px;
    width: 50%;
}

.bigletters {
    padding-left: 400px;
    padding-top: 40px;
}

.smallletters {
    padding: 40px;
}

.letter_template {
    border: 3px solid gray;
    border-radius: 15px;
    float: left;
    width: 51px;
    height: 51px;
    line-height: 35px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    transition: all 1s;
}

.letter_highlight {
    background-color: rgba(0,0,0,0);
    border: 3px solid yellow;
    color: yellow;
    border-radius: 15px;
    float: left;
    width: 51px;
    height: 51px;
    line-height: 35px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 15px 1px orange;
    transition: all 1s;
    font-weight: 700;
}

#pole {
    background-color: rgba(255,255,255,0.1);
    font-size: 18px;
    color: white;
    border: 0;
    border-bottom: 1px solid rgba(255, 128, 128, 0.8);
    outline: none;
    padding: 10px 15px 3px;
    transition: all 0.5s;
    width: 200px;
}
#pole:hover, #pole:active, #pole:focus {
    background-color: rgba(230,230,230,0.95);
    border-bottom: 3px solid rgba(255, 0, 0, 1);
    font-weight: bold;
    color: #0d4bc6;
    width: 400px;
    box-shadow: 0 0 10px 4px #444;
}
