* {
    box-sizing: border-box;
}

body {
    background-color: #2a2a2a;
    font-size: 30px;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

input {
    border: 2px solid #d7d9dd;
    font-size: 22px;
    height: 40px;
    line-height: 36px;
    margin: 30px;
    transition: all 1s;
    width: 200px;
}

input:hover, input:focus {
    background-color: #edc4c4;
    border: 2px solid #969696;
    font-size: 22px;
    transition: all 1s;
    width: 400px;
}

.rectaingle {
    color: #edc4c4;
    height: 40px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    width: 400px;
}
